<nav class="navigation">
	{{ if not .IsHome }}
		<a href="{{ "/pub-notes/" | relURL }}"> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}{{ i18n "home" }}{{ end }}</a>
	{{ end }}
	<a href="{{ "/pub-notes/posts" | relURL }}">{{ with .Site.Params.archive }}{{ . }}{{ else }}{{ i18n "archive" }}{{ end }}</a>
	<a href="{{ "/pub-notes/tags" | relURL }}">{{ with .Site.Params.tags }}{{ . }}{{ else }}{{ i18n "tags" }}{{ end }}</a>

	{{ range $element := .Site.Params.Links }}
		<a href="{{ $element.path }}">{{ $element.name }}</a>
	{{ end }}
</nav>
